.field-label {
    margin-bottom: 4px;
    display: block;
    width: 100%;
    color: darken($gray, 60%);
}

.field-input, .field-textarea {
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 0.5rem 0.75rem;
    width: 100%;
    border: 1px solid $gray;
    border-radius: 4px;
    font-size: 16px;
    font-family: $body_font;
    box-shadow: 0 2px 4px -2px darken($gray, 10%);
}

.field-textarea {
    resize: vertical;
    padding: 0.75rem;
}

.field-input:focus, .field-textarea:focus {
    outline: 0;
    border: 1px solid lighten($green, 15%);
    box-shadow: 0 3px 6px -3px $green;
}

.btn {
    margin-top: 8px;
    padding: 0.75rem;
    font-size: 16px;
    font-family: $body_font;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary {
    border: 1px solid $green;
    color: $white;
    background: $green;

    &:hover {
        color: $white;
        border: 1px solid lighten($green, 10%);
        background: lighten($green, 10%);
    }

    &:active {
        color: $green;
        border: 1px solid lighten($green, 35%);
        background: lighten($green, 35%);
    }
}
